.inline-block{
    display: inline-block;
    vertical-align: top;
    width: 50%;
    margin: center;
}

.logo{
    width: 23%;
    padding: 1%;
}

.nav {
    width: 73%;
    padding: 1%;
    display: inline-block;
    background-color: blue;

}




