
h1{
    font-family: 'Sacramento', cursive ;
    color:hotpink;
    text-align: center;
    padding: 20px;
    font-size: 50px;
}

.logo{
    width: auto;
    height: 75px;
    
}

.nav {
    text-align: center;
    padding: 20px;
    font-size: 15px;
    font-weight: bold;
    
}

li {
    padding: 12px;
    cursor: pointer;
    display: inline-block;
    
}

.cases{
    padding: 12px;
    text-align: center;
    cursor: pointer;
}

ul{
    background-color:white;
    width: auto;
    height:100px;
    display: inline;
}

#footer{
    
    bottom: 0;
    padding: 20px;
    font-size: small;
    text-align: center;
    padding-top: 200px;
    
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
