
 h1{
    font-family: 'Sacramento', cursive;
    color:hotpink;
    text-align: center;
    font-size: 50px;
}

.logo{
    margin-bottom: -50px;
    padding: 10px;
    background-color: white;
}



.nav {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    
    padding: 10px;
    color: black;
    border-bottom:  5px double grey;
    
}

li {
    padding: 20px;
    cursor: pointer;
    display: inline;
    margin: auto;
}


#footer{
    
    bottom: 0;
    padding: 20px;
    font-size: small;
    text-align: center;
    
    
    
}


.title {
    text-align: center;
    font-size: 18px;
    font-family: cursive;
    color: black;
    background-color: white;
    text-decoration-line: underline;
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.workGrid{
    display: grid;
    margin: 20px 75px 75px;
    grid-template-columns: 200px 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "Grit Chew"
    "FTC"
    "PlantPal";
    justify-content: space-around;
    align-items: stretch;
    column-gap: 10px;
    row-gap: 2em;
    padding: 20px;
    
      
}

p{
    color: black;
}


html{
    background-color: white;
}

h4{
    color: black;
    
}

.mySkills{
    display: flex;
    flex-direction: column;
    position: relative;
    background-size: cover;
    padding: 20px;
    text-align: center;
    border-bottom: 5px double grey;
   
}

.myPicture{
    width: 33%;
    float: left;
    

}

.cases{
    width: 80%;
    float: left;
}
